.App-logo {
  height: 40px;
}
.preloaderText{
  font-family: 'Assistant', sans-serif;
  color:gray;
  font-size:20px;
}
.preloader{
  text-align: center;
  align-items: center;
}
.preloaderImg{
  text-align: center;
  margin-left: 10px;
  width:90%;
}
.settings-logo {
  height: 20px;
}
.exit-logo {
  height: 20px;

}
.text-title{
  color: #3399ff;
  font-size: large;
}
.logo {
  text-align: center;
  height: inherit;
}
.navbar {
  text-align: left;
  height: inherit;
}
.input{
  margin:5px;
  text-align: center;

}
.submit{
  margin:10px;
  text-align: center;
}
.App-body{
  font-family: 'Assistant', sans-serif;
  color:#3399ff;
  font-size: large;
}

hr{
  margin-top: 0px;
margin-bottom: 2px;
}
a:active, a:focus {
  outline: none;
}
.title, .intro{
  color:#666666;
  text-align: center;
  margin:10px;
  font-family: 'Assistant', sans-serif;
}

.inputDomain{
  width:140px;
  color:#666666;
  font-family: 'Assistant', sans-serif;
  border-radius:5px;
  border:1px solid #666666;
  padding-left: 10px;
}

input::placeholder {
  color: light;
  font-size: 14px;
}
.myButton {
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:14px;
	border:1px solid #3399ff;
	display:inline-block;
	cursor:pointer;
	color:#3399ff;
  font-family: 'Assistant', sans-serif;
	font-size:17px;
	padding:10px 21px;
	text-decoration:none;
	position: center;
	text-align: center;
	vertical-align: middle;
  width: 100px;

}
.myButton:hover {
	background-color:#3399ff;
  color:#ffffff
}
.myButton:active {
	position:relative;
	top:1px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.openTicketsCounter {
  text-align: center;
}

/* Tickets */

.tickets {
    color: #3F3F3F;
    /*padding: 10px;*/
    height: 56px;
    padding: auto;
    /*padding-right: 108px;*/

    border-bottom: 1px solid #eee;
    -webkit-transition: background-color .1s ease-out;
    -moz-transition: background-color .1s ease-out;
    -o-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out;
}
.tickets:last-child {
    border-bottom: none;
}
.tickets:hover {
    background-color: #c5e4ff;
    cursor: pointer;
}
.ticketDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
  font-size: 10px;
  color: #666666;
}
.ticketSubject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 15ch;
  font-size: 14px;
  font-style: bold;
  text-align: left;
  color: #666666;
}
.ticketRequester {
font-size: 10px;
text-align: center;
margin-right: 1em;
color: #666666;
}
.ticketTime {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5ch;
  color: #3399ff;
}

/*Counter*/
.counterBorder {
  border-style: solid;
  border-radius: 10px;
  border-color: #2eddaf;
  width: 110px;
  margin: auto;
  padding: 5px;
}
.counterDiv {
  margin: 2px;
}
.openTicketCounterInteger {
  text-align: center;
  font-size: 200%;
  color: #2eddaf;
  font-family: 'Assistant', sans-serif;
}
.openTicketCounterString {
  text-align: center;
  font-size: 80%;
  font-family: 'Assistant', sans-serif;
  color: #666666;
}

/*List*/
.itemList {
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.ticketList {
  margin-top: 2px;
  padding: inherit;
  /*border: solid black;*/
  height: 250px;
  overflow-y: scroll;
  /*margin-bottom: 25px;*/
}

/*Table*/
.align-left {
  text-align: left;
  padding: 2px;
}
.align-right {
  text-align: right;
  padding: 2px;
}
