.App-logo {
  height: 40px;
}
.text-title{
  color: #3399ff;
  font-size: large;
}

.navbar{
  text-align: center;

}

.App-body{
  font-family: 'Assistant', sans-serif;
  color:#3399ff;
  font-size: large;
}

hr{
  margin-top: 0px;
margin-bottom: 2px;
}
