.App-logo {
  height: 40px;
}
.text-title{
  color: #3399ff;
  font-size: large;
}

.navbar{
  text-align: center;

}
.input{
  margin:5px;
  text-align: center;

}
.submit{
  margin:10px;
  text-align: center;
}
.App-body{
  font-family: 'Assistant', sans-serif;
  color:#3399ff;
  font-size: large;
}

hr{
  margin-top: 0px;
margin-bottom: 2px;
}

.title, .intro{
  color:#666666;
  text-align: center;
  margin:10px;
  font-family: 'Assistant', sans-serif;
}

.inputDomain{
  width:140px;
  color:#666666;
  font-family: 'Assistant', sans-serif;
  border-radius:5px;
  border:1px solid #666666;
  padding-left: 10px;
}

input::placeholder {
  color: light;
  font-size: 14px;
}
.myButton {
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:14px;
	border:1px solid #3399ff;
	display:inline-block;
	cursor:pointer;
	color:#3399ff;
  font-family: 'Assistant', sans-serif;
	font-size:17px;
	padding:10px 21px;
	text-decoration:none;
	position: center;
	text-align: center;
	vertical-align: middle;
  width: 100px;

}
.myButton:hover {
	background-color:#3399ff;
  color:#ffffff
}
.myButton:active {
	position:relative;
	top:1px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
